version: "3.0"

services:
  geth:
    image: bsc
    build:
      context: .
    container_name: bsc
    ports:
      - 8545:8545
      - 8546:8546
      - 30303:30303
    restart: always
    volumes:
      - ./data:/bsc/data
      - ./config.toml:/bsc/config.toml
    command: --config /bsc/config.toml --nat extip:127.0.0.1
